<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || 'DevInterior' %></title>

    <%= stylesheet_link_tag 'devinterior' %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400|Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <header role="banner" class="layout header">
      <div class="container">
        <% link_to '/', class: 'logo' do %>
          <%= image_tag lorem.image('40x60') %>
        <% end %>

        <nav role="navigation" class="navigation">
          <%= link_to 'Home' %>
          <%= link_to 'Sobre' %>
          <%= link_to 'Eventos' %>
          <%= link_to 'Blog' %>
          <%= link_to 'Contato' %>
        </nav>
      </div>
    </header>

    <main class="layout main" role="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="layout footer" role="contentinfo">
      <div class="container">
        Footer
      </div>
    </footer>

    <%= javascript_include_tag 'devinterior' %>
  </body>
</html>